.load-more__container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
}

.load-more__btn{
    background-color: #617AE4;
    color: white;
    width: 160px;
    height: 40px;
    border: none;
}